(
    id: Beach,
    width: 20,
    height: 14,
    tiles: [
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Path,
        Path,
        Path,
        Path,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Path,
        Path,
        Path,
        Path,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        WoodFloor,
        WoodFloor,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        WoodFloor,
        WoodFloor,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        WoodFloor,
        WoodFloor,
        Sand,
        Sand,
        Sand,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        WoodFloor,
        WoodFloor,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        WoodFloor,
        WoodFloor,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
    ],
    objects: [
        (
            x: 17,
            y: 1,
            kind: Rock,
        ),
        (
            x: 9,
            y: 5,
            kind: Stump,
        ),
        (
            x: 3,
            y: 6,
            kind: Log,
        ),
        (
            x: 5,
            y: 6,
            kind: Stump,
        ),
        (
            x: 7,
            y: 7,
            kind: Log,
        ),
        (
            x: 14,
            y: 7,
            kind: Log,
        ),
        (
            x: 12,
            y: 6,
            kind: Log,
        ),
        (
            x: 5,
            y: 8,
            kind: Rock,
        ),
        (
            x: 8,
            y: 8,
            kind: Rock,
        ),
        (
            x: 13,
            y: 8,
            kind: Rock,
        ),
        (
            x: 18,
            y: 8,
            kind: Rock,
        ),
        (
            x: 18,
            y: 9,
            kind: Rock,
        ),
    ],
    forage_points: [
        (4, 5),
        (8, 4),
        (13, 5),
        (6, 7),
    ],
    spawn_pos: (10, 6),
    transitions: [
        (
            from_rect: (0, 3, 1, 3),
            to_map: Town,
            to_x: 26,
            to_y: 11,
        ),
    ],
    doors: [],
    edges: (
        north: Some((Town, ClampX(1))),
        south: Some((CoralIsland, Fixed(15, 1))),
        east: Some((Farm, ClampY(1))),
        west: None,
    ),
    buildings: [],
)
