(
    id: CoralIsland,
    width: 30,
    height: 22,
    tiles: [
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Path,
        Path,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Path,
        Path,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
    ],
    objects: [
        (
            x: 14,
            y: 1,
            kind: Dock,
        ),
        (
            x: 16,
            y: 1,
            kind: Dock,
        ),
        (
            x: 20,
            y: 3,
            kind: PalmTree,
        ),
        (
            x: 22,
            y: 3,
            kind: PalmTree,
        ),
        (
            x: 24,
            y: 3,
            kind: PalmTree,
        ),
        (
            x: 26,
            y: 3,
            kind: PalmTree,
        ),
        (
            x: 21,
            y: 5,
            kind: PalmTree,
        ),
        (
            x: 23,
            y: 5,
            kind: PalmTree,
        ),
        (
            x: 25,
            y: 5,
            kind: PalmTree,
        ),
        (
            x: 20,
            y: 7,
            kind: PalmTree,
        ),
        (
            x: 22,
            y: 7,
            kind: PalmTree,
        ),
        (
            x: 24,
            y: 7,
            kind: PalmTree,
        ),
        (
            x: 26,
            y: 6,
            kind: PalmTree,
        ),
        (
            x: 27,
            y: 4,
            kind: PalmTree,
        ),
        (
            x: 5,
            y: 3,
            kind: PalmTree,
        ),
        (
            x: 5,
            y: 7,
            kind: PalmTree,
        ),
        (
            x: 5,
            y: 12,
            kind: PalmTree,
        ),
        (
            x: 5,
            y: 17,
            kind: PalmTree,
        ),
        (
            x: 27,
            y: 12,
            kind: PalmTree,
        ),
        (
            x: 27,
            y: 16,
            kind: PalmTree,
        ),
        (
            x: 15,
            y: 18,
            kind: PalmTree,
        ),
        (
            x: 19,
            y: 18,
            kind: PalmTree,
        ),
        (
            x: 19,
            y: 13,
            kind: Coral,
        ),
        (
            x: 21,
            y: 14,
            kind: Coral,
        ),
        (
            x: 22,
            y: 14,
            kind: Coral,
        ),
        (
            x: 23,
            y: 14,
            kind: Coral,
        ),
        (
            x: 25,
            y: 14,
            kind: Coral,
        ),
        (
            x: 27,
            y: 14,
            kind: Coral,
        ),
        (
            x: 20,
            y: 16,
            kind: Coral,
        ),
        (
            x: 21,
            y: 16,
            kind: Coral,
        ),
        (
            x: 22,
            y: 16,
            kind: Coral,
        ),
        (
            x: 24,
            y: 16,
            kind: Coral,
        ),
        (
            x: 26,
            y: 16,
            kind: Coral,
        ),
        (
            x: 27,
            y: 16,
            kind: Coral,
        ),
        (
            x: 20,
            y: 17,
            kind: Coral,
        ),
        (
            x: 21,
            y: 18,
            kind: Coral,
        ),
        (
            x: 23,
            y: 18,
            kind: Coral,
        ),
        (
            x: 24,
            y: 18,
            kind: Coral,
        ),
        (
            x: 26,
            y: 18,
            kind: Coral,
        ),
        (
            x: 22,
            y: 13,
            kind: Rock,
        ),
        (
            x: 25,
            y: 13,
            kind: Rock,
        ),
        (
            x: 20,
            y: 15,
            kind: Rock,
        ),
        (
            x: 22,
            y: 15,
            kind: Rock,
        ),
        (
            x: 24,
            y: 15,
            kind: Rock,
        ),
        (
            x: 26,
            y: 15,
            kind: Rock,
        ),
        (
            x: 19,
            y: 17,
            kind: Rock,
        ),
        (
            x: 25,
            y: 17,
            kind: Rock,
        ),
        (
            x: 4,
            y: 5,
            kind: Driftwood,
        ),
        (
            x: 5,
            y: 6,
            kind: Driftwood,
        ),
        (
            x: 6,
            y: 7,
            kind: Driftwood,
        ),
        (
            x: 4,
            y: 9,
            kind: Driftwood,
        ),
        (
            x: 5,
            y: 10,
            kind: Driftwood,
        ),
        (
            x: 6,
            y: 11,
            kind: Driftwood,
        ),
        (
            x: 4,
            y: 13,
            kind: Driftwood,
        ),
        (
            x: 5,
            y: 14,
            kind: Driftwood,
        ),
        (
            x: 6,
            y: 15,
            kind: Driftwood,
        ),
        (
            x: 4,
            y: 17,
            kind: Driftwood,
        ),
        (
            x: 6,
            y: 18,
            kind: Driftwood,
        ),
        (
            x: 8,
            y: 18,
            kind: Driftwood,
        ),
        (
            x: 9,
            y: 19,
            kind: Driftwood,
        ),
        (
            x: 12,
            y: 18,
            kind: Driftwood,
        ),
        (
            x: 14,
            y: 19,
            kind: Driftwood,
        ),
        (
            x: 17,
            y: 18,
            kind: Driftwood,
        ),
        (
            x: 6,
            y: 8,
            kind: Log,
        ),
        (
            x: 7,
            y: 12,
            kind: Log,
        ),
        (
            x: 5,
            y: 16,
            kind: Log,
        ),
        (
            x: 10,
            y: 18,
            kind: Log,
        ),
        (
            x: 11,
            y: 19,
            kind: Log,
        ),
        (
            x: 16,
            y: 18,
            kind: Log,
        ),
        (
            x: 18,
            y: 19,
            kind: Log,
        ),
    ],
    forage_points: [
        (6, 4),
        (6, 8),
        (6, 14),
        (6, 18),
        (13, 7),
        (17, 7),
        (10, 15),
        (15, 14),
        (23, 10),
        (12, 19),
    ],
    spawn_pos: (15, 1),
    transitions: [
        (
            from_rect: (13, 0, 5, 1),
            to_map: Beach,
            to_x: 10,
            to_y: 12,
        ),
    ],
    doors: [],
    edges: (
        north: Some((Beach, Fixed(10, 12))),
        south: None,
        east: None,
        west: None,
    ),
    buildings: [],
)