(
    id: Farm,
    width: 32,
    height: 24,
    tiles: [
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        WoodFloor,
        WoodFloor,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        WoodFloor,
        WoodFloor,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
    ],
    objects: [
        (
            x: 1,
            y: 1,
            kind: Tree,
        ),
        (
            x: 4,
            y: 1,
            kind: Tree,
        ),
        (
            x: 7,
            y: 1,
            kind: Tree,
        ),
        (
            x: 10,
            y: 1,
            kind: Tree,
        ),
        (
            x: 22,
            y: 1,
            kind: Tree,
        ),
        (
            x: 25,
            y: 1,
            kind: Tree,
        ),
        (
            x: 28,
            y: 1,
            kind: Tree,
        ),
        (
            x: 8,
            y: 7,
            kind: Rock,
        ),
        (
            x: 12,
            y: 8,
            kind: Rock,
        ),
        (
            x: 18,
            y: 7,
            kind: Rock,
        ),
        (
            x: 22,
            y: 9,
            kind: Rock,
        ),
        (
            x: 10,
            y: 12,
            kind: Rock,
        ),
        (
            x: 16,
            y: 11,
            kind: Rock,
        ),
        (
            x: 20,
            y: 13,
            kind: Rock,
        ),
        (
            x: 14,
            y: 14,
            kind: Rock,
        ),
        (
            x: 24,
            y: 8,
            kind: Rock,
        ),
        (
            x: 7,
            y: 14,
            kind: Stump,
        ),
        (
            x: 5,
            y: 19,
            kind: Stump,
        ),
        (
            x: 25,
            y: 14,
            kind: Stump,
        ),
        (
            x: 27,
            y: 15,
            kind: Stump,
        ),
        (
            x: 14,
            y: 3,
            kind: Bush,
        ),
        (
            x: 17,
            y: 3,
            kind: Bush,
        ),
        (
            x: 14,
            y: 5,
            kind: Bush,
        ),
        (
            x: 17,
            y: 5,
            kind: Bush,
        ),
        (
            x: 23,
            y: 17,
            kind: Bush,
        ),
        (
            x: 2,
            y: 7,
            kind: Rock,
        ),
        (
            x: 3,
            y: 12,
            kind: Rock,
        ),
        (
            x: 2,
            y: 22,
            kind: Tree,
        ),
        (
            x: 29,
            y: 22,
            kind: Tree,
        ),
    ],
    forage_points: [
        (2, 4),
        (29, 3),
        (2, 20),
        (29, 20),
        (5, 22),
    ],
    spawn_pos: (16, 12),
    transitions: [
        (
            from_rect: (13, 23, 5, 1),
            to_map: Town,
            to_x: 12,
            to_y: 1,
        ),
        (
            from_rect: (31, 8, 1, 4),
            to_map: Forest,
            to_x: 1,
            to_y: 7,
        ),
        (
            from_rect: (0, 8, 1, 4),
            to_map: MineEntrance,
            to_x: 12,
            to_y: 6,
        ),
        (
            from_rect: (15, 0, 2, 1),
            to_map: PlayerHouse,
            to_x: 8,
            to_y: 14,
        ),
    ],
    doors: [
        (
            x_min: 15,
            x_max: 16,
            y: 2,
            to_map: PlayerHouse,
            to_x: 8,
            to_y: 14,
        ),
    ],
    edges: (
        north: Some((SnowMountain, ClampX(1))),
        south: Some((Town, ClampX(20))),
        east: Some((Forest, ClampY(1))),
        west: Some((MineEntrance, Fixed(12, 6))),
    ),
    buildings: [
        (
            x: 13,
            y: 0,
            w: 6,
            h: 3,
            roof_tint: (0.75, 0.5, 0.4),
        ),
        (
            x: 9,
            y: 17,
            w: 3,
            h: 2,
            roof_tint: (0.9, 0.8, 0.5),
        ),
        (
            x: 3,
            y: 16,
            w: 5,
            h: 3,
            roof_tint: (0.7, 0.3, 0.3),
        ),
    ],
)
