(
    id: Forest,
    width: 22,
    height: 18,
    tiles: [
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Bridge,
        Bridge,
        Bridge,
        Bridge,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Bridge,
        Bridge,
        Bridge,
        Bridge,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Water,
        Water,
        Grass,
        Grass,
        Grass,
        Grass,
    ],
    objects: [
        (
            x: 0,
            y: 0,
            kind: Tree,
        ),
        (
            x: 2,
            y: 0,
            kind: Tree,
        ),
        (
            x: 4,
            y: 0,
            kind: Tree,
        ),
        (
            x: 6,
            y: 0,
            kind: Tree,
        ),
        (
            x: 8,
            y: 0,
            kind: Tree,
        ),
        (
            x: 10,
            y: 0,
            kind: Tree,
        ),
        (
            x: 12,
            y: 0,
            kind: Tree,
        ),
        (
            x: 14,
            y: 0,
            kind: Tree,
        ),
        (
            x: 16,
            y: 0,
            kind: Tree,
        ),
        (
            x: 18,
            y: 0,
            kind: Tree,
        ),
        (
            x: 20,
            y: 0,
            kind: Tree,
        ),
        (
            x: 1,
            y: 4,
            kind: Tree,
        ),
        (
            x: 1,
            y: 10,
            kind: Tree,
        ),
        (
            x: 3,
            y: 8,
            kind: Tree,
        ),
        (
            x: 5,
            y: 10,
            kind: Tree,
        ),
        (
            x: 7,
            y: 4,
            kind: Tree,
        ),
        (
            x: 12,
            y: 3,
            kind: Tree,
        ),
        (
            x: 14,
            y: 3,
            kind: Tree,
        ),
        (
            x: 11,
            y: 10,
            kind: Tree,
        ),
        (
            x: 13,
            y: 14,
            kind: Tree,
        ),
        (
            x: 15,
            y: 10,
            kind: Tree,
        ),
        (
            x: 19,
            y: 2,
            kind: Tree,
        ),
        (
            x: 20,
            y: 8,
            kind: Tree,
        ),
        (
            x: 20,
            y: 12,
            kind: Tree,
        ),
        (
            x: 20,
            y: 16,
            kind: Tree,
        ),
        (
            x: 0,
            y: 2,
            kind: Tree,
        ),
        (
            x: 0,
            y: 12,
            kind: Tree,
        ),
        (
            x: 2,
            y: 16,
            kind: Tree,
        ),
        (
            x: 4,
            y: 17,
            kind: Tree,
        ),
        (
            x: 8,
            y: 17,
            kind: Tree,
        ),
        (
            x: 10,
            y: 16,
            kind: Tree,
        ),
        (
            x: 16,
            y: 16,
            kind: Tree,
        ),
        (
            x: 18,
            y: 17,
            kind: Tree,
        ),
        (
            x: 21,
            y: 4,
            kind: Tree,
        ),
        (
            x: 21,
            y: 10,
            kind: Tree,
        ),
        (
            x: 21,
            y: 14,
            kind: Tree,
        ),
        (
            x: 3,
            y: 5,
            kind: Pine,
        ),
        (
            x: 9,
            y: 3,
            kind: Pine,
        ),
        (
            x: 17,
            y: 8,
            kind: Pine,
        ),
        (
            x: 18,
            y: 14,
            kind: Pine,
        ),
        (
            x: 6,
            y: 14,
            kind: Pine,
        ),
        (
            x: 2,
            y: 2,
            kind: Pine,
        ),
        (
            x: 6,
            y: 2,
            kind: Pine,
        ),
        (
            x: 15,
            y: 2,
            kind: Pine,
        ),
        (
            x: 19,
            y: 15,
            kind: Pine,
        ),
        (
            x: 16,
            y: 3,
            kind: Rock,
        ),
        (
            x: 16,
            y: 10,
            kind: Rock,
        ),
        (
            x: 5,
            y: 3,
            kind: Stump,
        ),
        (
            x: 13,
            y: 14,
            kind: Stump,
        ),
        (
            x: 7,
            y: 15,
            kind: Stump,
        ),
        (
            x: 17,
            y: 15,
            kind: Stump,
        ),
        (
            x: 1,
            y: 12,
            kind: Bush,
        ),
        (
            x: 9,
            y: 12,
            kind: Bush,
        ),
        (
            x: 2,
            y: 5,
            kind: Bush,
        ),
        (
            x: 5,
            y: 15,
            kind: Bush,
        ),
        (
            x: 12,
            y: 15,
            kind: Bush,
        ),
        (
            x: 18,
            y: 4,
            kind: Bush,
        ),
        (
            x: 19,
            y: 13,
            kind: Bush,
        ),
        (
            x: 4,
            y: 6,
            kind: Log,
        ),
        (
            x: 14,
            y: 12,
            kind: Log,
        ),
    ],
    forage_points: [
        (4, 3),
        (6, 4),
        (3, 14),
        (4, 16),
        (5, 14),
        (12, 13),
        (14, 15),
        (8, 11),
        (10, 14),
    ],
    spawn_pos: (8, 8),
    transitions: [
        (
            from_rect: (0, 6, 1, 4),
            to_map: Farm,
            to_x: 30,
            to_y: 9,
        ),
    ],
    doors: [],
    edges: (
        north: Some((MineEntrance, Fixed(7, 1))),
        south: None,
        east: Some((DeepForest, ClampY(1))),
        west: Some((Farm, ClampY(30))),
    ),
    buildings: [],
)
