(
    id: Library,
    width: 14,
    height: 12,
    tiles: [
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Stone,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        Stone,
        Void,
        Void,
        Stone,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        Stone,
        Void,
        Void,
        Stone,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        Stone,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        Path,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        Path,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        Path,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        Path,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
    ],
    objects: [],
    forage_points: [],
    spawn_pos: (7, 10),
    transitions: [
        (
            from_rect: (6, 11, 2, 1),
            to_map: Town,
            to_x: 8,
            to_y: 16,
        ),
    ],
    doors: [],
    edges: (
        north: Some((Town, Fixed(8, 18))),
        south: None,
        east: None,
        west: None,
    ),
    buildings: [],
)