(
    id: Mine,
    width: 24,
    height: 24,
    tiles: [
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Dirt,
        Dirt,
        Dirt,
        Dirt,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
    ],
    objects: [],
    forage_points: [],
    spawn_pos: (12, 12),
    transitions: [
        (
            from_rect: (7, 12, 2, 2),
            to_map: MineEntrance,
            to_x: 11,
            to_y: 4,
        ),
    ],
    doors: [],
    edges: (
        north: None,
        south: None,
        east: None,
        west: None,
    ),
    buildings: [],
)