(
    id: PlayerHouse,
    width: 16,
    height: 16,
    tiles: [
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        Path,
        Path,
        Path,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
    ],
    objects: [],
    forage_points: [],
    spawn_pos: (8, 8),
    transitions: [
        (
            from_rect: (7, 15, 2, 1),
            to_map: Farm,
            to_x: 16,
            to_y: 1,
        ),
    ],
    doors: [],
    edges: (
        north: Some((Farm, Fixed(16, 3))),
        south: None,
        east: None,
        west: None,
    ),
    buildings: [],
)