(
    id: SnowMountain,
    width: 32,
    height: 24,
    tiles: [
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Water,
        Water,
        Water,
        Water,
        Water,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Grass,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Water,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Water,
        Water,
        Water,
        Water,
        Water,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Water,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Water,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Water,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Dirt,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Dirt,
        Grass,
        Dirt,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Grass,
        Grass,
        Dirt,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Dirt,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
    ],
    objects: [
        (x: 0, y: 2, kind: Pine),
        (x: 2, y: 3, kind: Pine),
        (x: 1, y: 5, kind: Pine),
        (x: 3, y: 15, kind: Pine),
        (x: 0, y: 8, kind: Pine),
        (x: 2, y: 10, kind: Pine),
        (x: 1, y: 12, kind: Pine),
        (x: 0, y: 16, kind: Pine),
        (x: 2, y: 18, kind: Pine),
        (x: 4, y: 4, kind: Pine),
        (x: 5, y: 7, kind: Pine),
        (x: 4, y: 10, kind: Pine),
        (x: 5, y: 12, kind: Pine),
        (x: 6, y: 14, kind: Pine),
        (x: 4, y: 17, kind: Pine),
        (x: 5, y: 20, kind: Pine),
        (x: 3, y: 21, kind: Pine),
        (x: 28, y: 1, kind: Pine),
        (x: 30, y: 3, kind: Pine),
        (x: 31, y: 7, kind: Pine),
        (x: 28, y: 10, kind: Pine),
        (x: 30, y: 12, kind: Pine),
        (x: 29, y: 14, kind: Pine),
        (x: 31, y: 16, kind: Pine),
        (x: 27, y: 3, kind: Pine),
        (x: 28, y: 20, kind: Pine),
        (x: 31, y: 21, kind: Pine),
        (x: 30, y: 18, kind: Pine),
        (x: 27, y: 11, kind: Pine),
        (x: 29, y: 16, kind: Pine),
        (x: 11, y: 6, kind: Pine),
        (x: 19, y: 5, kind: Pine),
        (x: 13, y: 11, kind: Pine),
        (x: 20, y: 11, kind: Pine),
        (x: 11, y: 16, kind: Pine),
        (x: 19, y: 16, kind: Pine),
        (x: 10, y: 20, kind: Pine),
        (x: 20, y: 21, kind: Pine),
        (x: 7, y: 2, kind: LargeRock),
        (x: 10, y: 1, kind: LargeRock),
        (x: 21, y: 1, kind: LargeRock),
        (x: 6, y: 10, kind: LargeRock),
        (x: 12, y: 5, kind: LargeRock),
        (x: 20, y: 7, kind: LargeRock),
        (x: 25, y: 13, kind: LargeRock),
        (x: 7, y: 17, kind: LargeRock),
        (x: 21, y: 17, kind: LargeRock),
        (x: 11, y: 2, kind: LargeRock),
        (x: 9, y: 4, kind: Rock),
        (x: 11, y: 3, kind: Rock),
        (x: 17, y: 4, kind: Rock),
        (x: 22, y: 6, kind: Rock),
        (x: 5, y: 9, kind: Rock),
        (x: 13, y: 7, kind: Rock),
        (x: 19, y: 10, kind: Rock),
        (x: 24, y: 11, kind: Rock),
        (x: 20, y: 15, kind: Rock),
        (x: 6, y: 19, kind: Rock),
        (x: 25, y: 19, kind: Rock),
        (x: 13, y: 17, kind: Rock),
        (x: 18, y: 15, kind: Rock),
        (x: 9, y: 6, kind: Rock),
        (x: 3, y: 8, kind: Stump),
        (x: 10, y: 12, kind: Stump),
        (x: 21, y: 10, kind: Stump),
        (x: 16, y: 16, kind: Stump),
        (x: 8, y: 21, kind: Stump),
        (x: 24, y: 20, kind: Stump),
        (x: 5, y: 14, kind: Bush),
        (x: 7, y: 6, kind: Bush),
        (x: 19, y: 12, kind: Bush),
        (x: 25, y: 17, kind: Bush),
        (x: 3, y: 20, kind: Bush),
        (x: 27, y: 20, kind: Bush),
        (x: 12, y: 22, kind: Bush),
    ],
    forage_points: [
        (4, 7),
        (6, 8),
        (3, 14),
        (5, 16),
        (7, 20),
        (12, 21),
        (16, 22),
        (20, 20),
        (26, 16),
        (27, 18),
        (13, 10),
        (18, 12),
        (11, 17),
        (22, 15),
    ],
    spawn_pos: (16, 22),
    transitions: [],
    doors: [],
    edges: (
        north: None,
        south: Some((Farm, ClampX(22))),
        east: None,
        west: None,
    ),
    buildings: [],
)
