(
    id: SnowMountain,
    width: 32,
    height: 24,
    tiles: [
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Water,
        Water,
        Water,
        Water,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Water,
        Water,
        Water,
        Water,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Water,
        Water,
        Water,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
    ],
    objects: [
        (x: 1, y: 1, kind: Pine),
        (x: 3, y: 1, kind: Pine),
        (x: 0, y: 5, kind: Pine),
        (x: 2, y: 7, kind: Pine),
        (x: 1, y: 9, kind: Pine),
        (x: 0, y: 12, kind: Pine),
        (x: 2, y: 14, kind: Pine),
        (x: 1, y: 17, kind: Pine),
        (x: 28, y: 2, kind: Pine),
        (x: 30, y: 4, kind: Pine),
        (x: 29, y: 6, kind: Pine),
        (x: 28, y: 12, kind: Pine),
        (x: 30, y: 14, kind: Pine),
        (x: 29, y: 17, kind: Pine),
        (x: 6, y: 2, kind: Rock),
        (x: 10, y: 4, kind: Rock),
        (x: 12, y: 1, kind: Rock),
        (x: 20, y: 3, kind: Rock),
        (x: 22, y: 5, kind: Rock),
        (x: 5, y: 11, kind: Rock),
        (x: 7, y: 13, kind: Rock),
        (x: 25, y: 15, kind: Rock),
        (x: 11, y: 8, kind: Pine),
        (x: 19, y: 7, kind: Pine),
        (x: 11, y: 15, kind: Pine),
        (x: 20, y: 16, kind: Pine),
    ],
    forage_points: [
        (3, 4),
        (5, 6),
        (9, 3),
        (21, 4),
        (26, 10),
        (8, 16),
        (24, 18),
    ],
    spawn_pos: (16, 22),
    transitions: [],
    doors: [],
    edges: (
        north: None,
        south: Some((Farm, ClampX(22))),
        east: None,
        west: None,
    ),
    buildings: [],
)
