(
    id: Tavern,
    width: 16,
    height: 14,
    tiles: [
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Stone,
        WoodFloor,
        Stone,
        Stone,
        Stone,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
    ],
    objects: [],
    forage_points: [],
    spawn_pos: (8, 12),
    transitions: [
        (
            from_rect: (7, 13, 2, 1),
            to_map: Town,
            to_x: 16,
            to_y: 16,
        ),
    ],
    doors: [],
    edges: (
        north: Some((Town, Fixed(16, 18))),
        south: None,
        east: None,
        west: None,
    ),
    buildings: [],
)