(
    id: Town,
    width: 28,
    height: 22,
    tiles: [
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Water,
        Water,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Water,
        Water,
        Stone,
        Stone,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Path,
        Path,
        Grass,
        Grass,
        Path,
        Path,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Stone,
        Stone,
        Stone,
        Stone,
        Stone,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Water,
        Water,
        Water,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Sand,
        Sand,
        Sand,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Path,
        Path,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
        Grass,
    ],
    objects: [
        (
            x: 0,
            y: 0,
            kind: Tree,
        ),
        (
            x: 3,
            y: 0,
            kind: Tree,
        ),
        (
            x: 6,
            y: 0,
            kind: Tree,
        ),
        (
            x: 9,
            y: 0,
            kind: Tree,
        ),
        (
            x: 16,
            y: 0,
            kind: Tree,
        ),
        (
            x: 19,
            y: 0,
            kind: Tree,
        ),
        (
            x: 22,
            y: 0,
            kind: Tree,
        ),
        (
            x: 25,
            y: 0,
            kind: Tree,
        ),
        (
            x: 2,
            y: 17,
            kind: Tree,
        ),
        (
            x: 9,
            y: 17,
            kind: Tree,
        ),
    ],
    forage_points: [
        (1, 19),
        (9, 20),
        (26, 19),
    ],
    spawn_pos: (12, 8),
    transitions: [
        (
            from_rect: (12, 0, 4, 1),
            to_map: Farm,
            to_x: 14,
            to_y: 22,
        ),
        (
            from_rect: (5, 2, 2, 1),
            to_map: GeneralStore,
            to_x: 6,
            to_y: 10,
        ),
        (
            from_rect: (22, 2, 2, 1),
            to_map: AnimalShop,
            to_x: 6,
            to_y: 10,
        ),
        (
            from_rect: (22, 13, 2, 1),
            to_map: Blacksmith,
            to_x: 6,
            to_y: 10,
        ),
        (
            from_rect: (3, 13, 2, 1),
            to_map: TownHouseWest,
            to_x: 6,
            to_y: 10,
        ),
        (
            from_rect: (9, 13, 2, 1),
            to_map: TownHouseEast,
            to_x: 6,
            to_y: 10,
        ),
        (
            from_rect: (27, 10, 1, 4),
            to_map: Beach,
            to_x: 1,
            to_y: 4,
        ),
    ],
    doors: [
        (
            x_min: 5,
            x_max: 6,
            y: 2,
            to_map: GeneralStore,
            to_x: 6,
            to_y: 10,
        ),
        (
            x_min: 22,
            x_max: 23,
            y: 2,
            to_map: AnimalShop,
            to_x: 6,
            to_y: 10,
        ),
        (
            x_min: 22,
            x_max: 23,
            y: 13,
            to_map: Blacksmith,
            to_x: 6,
            to_y: 10,
        ),
        (
            x_min: 3,
            x_max: 4,
            y: 13,
            to_map: TownHouseWest,
            to_x: 6,
            to_y: 10,
        ),
        (
            x_min: 9,
            x_max: 10,
            y: 13,
            to_map: TownHouseEast,
            to_x: 6,
            to_y: 10,
        ),
    ],
    edges: (
        north: Some((Farm, ClampX(1))),
        south: Some((Beach, ClampX(7))),
        east: Some((Forest, ClampY(1))),
        west: None,
    ),
    buildings: [
        (
            x: 2,
            y: 2,
            w: 8,
            h: 5,
            roof_tint: (0.85, 0.55, 0.4),
        ),
        (
            x: 18,
            y: 2,
            w: 8,
            h: 5,
            roof_tint: (0.5, 0.7, 0.85),
        ),
        (
            x: 20,
            y: 13,
            w: 6,
            h: 4,
            roof_tint: (0.6, 0.55, 0.55),
        ),
        (
            x: 2,
            y: 13,
            w: 5,
            h: 3,
            roof_tint: (0.75, 0.85, 0.6),
        ),
        (
            x: 8,
            y: 13,
            w: 5,
            h: 3,
            roof_tint: (0.85, 0.75, 0.55),
        ),
    ],
)