(
    id: TownHouseWest,
    width: 12,
    height: 12,
    tiles: [
        // row 0
        Void, Void, Void, Void, Void, Void, Void, Void, Void, Void, Void, Void,
        // row 1
        Void, Stone, Stone, Stone, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Path, Path, WoodFloor, Void,
        // row 2
        Void, Stone, Stone, Stone, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Path, Path, WoodFloor, Void,
        // row 3
        Void, WoodFloor, WoodFloor, WoodFloor, WoodFloor, WoodFloor, WoodFloor, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Void,
        // row 4
        Void, WoodFloor, WoodFloor, Path, Path, Path, Path, Path, WoodFloor, WoodFloor, WoodFloor, Void,
        // row 5
        Void, WoodFloor, WoodFloor, Path, Path, Path, Path, Path, WoodFloor, Stone, WoodFloor, Void,
        // row 6
        Void, WoodFloor, WoodFloor, Path, Path, Path, Path, Path, WoodFloor, Stone, WoodFloor, Void,
        // row 7
        Void, WoodFloor, WoodFloor, Path, Path, Path, Path, Path, WoodFloor, Stone, WoodFloor, Void,
        // row 8
        Void, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Path, Path, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Void,
        // row 9
        Void, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Path, Path, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Void,
        // row 10
        Void, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Path, Path, WoodFloor, WoodFloor, WoodFloor, WoodFloor, Void,
        // row 11
        Void, Void, Void, Void, Void, WoodFloor, WoodFloor, Void, Void, Void, Void, Void,
    ],
    objects: [],
    forage_points: [],
    spawn_pos: (6, 8),
    transitions: [
        (
            from_rect: (5, 11, 2, 1),
            to_map: Town,
            to_x: 3,
            to_y: 14,
        ),
    ],
    doors: [],
    edges: (
        north: Some((Town, Fixed(3, 14))),
        south: None,
        east: None,
        west: None,
    ),
    buildings: [],
)
