(
    id: TownHouseWest,
    width: 12,
    height: 12,
    tiles: [
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        WoodFloor,
        Void,
        Void,
        Stone,
        Stone,
        Stone,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        Path,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Path,
        Path,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Void,
        Void,
        Void,
        Void,
        WoodFloor,
        WoodFloor,
        Void,
        Void,
        Void,
        Void,
        Void,
    ],
    objects: [],
    forage_points: [],
    spawn_pos: (6, 8),
    transitions: [
        (
            from_rect: (5, 11, 2, 1),
            to_map: Town,
            to_x: 3,
            to_y: 14,
        ),
    ],
    doors: [],
    edges: (
        north: Some((Town, Fixed(3, 14))),
        south: None,
        east: None,
        west: None,
    ),
    buildings: [],
)